In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train= pd.read_csv(r'/content/sample_data/Train.csv')
df_test= pd.read_csv(r'/content/sample_data/Test.csv')

In [3]:
df_train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
df_test.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0           FDW58       20.750  ...               Tier 1  Supermarket Type1
1           FDW14        8.300  ...               Tier 2  Supermarket Type1
2           NCN55       14.600  ...               Tier 3      Grocery Store
3           FDQ58        7.315  ...               Tier 2  Supermarket Type1
4           FDY38          NaN  ...               Tier 3  Supermarket Type3

[5 rows x 11 columns]

In [5]:
df_train.shape

(8523, 12)

In [6]:
df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
df_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [8]:
df_train.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [9]:
df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [10]:
#Filling the Item_Weight datasets wiht mean value of weight datasets
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(),inplace=True)
df_test['Item_Weight'].fillna(df_test['Item_Weight'].mean(),inplace=True)

#Filling the OUtlet_Identifier datasets wiht mode value of identifier datasets

df_train.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)
df_test.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

In [11]:
df_train

      Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           9.300          Low Fat  ...  Supermarket Type1         3735.1380
1           5.920          Regular  ...  Supermarket Type2          443.4228
2          17.500          Low Fat  ...  Supermarket Type1         2097.2700
3          19.200          Regular  ...      Grocery Store          732.3800
4           8.930          Low Fat  ...  Supermarket Type1          994.7052
...           ...              ...  ...                ...               ...
8518        6.865          Low Fat  ...  Supermarket Type1         2778.3834
8519        8.380          Regular  ...  Supermarket Type1          549.2850
8520       10.600          Low Fat  ...  Supermarket Type1         1193.1136
8521        7.210          Regular  ...  Supermarket Type2         1845.5976
8522       14.800          Low Fat  ...  Supermarket Type1          765.6700

[8523 rows x 10 columns]

In [18]:
plt.figure(figsize=(10,5))
sns.heatmap(df_train.corr(),annot=True)
plt.show()

In [20]:
!pip install klib

Collecting klib
  Downloading klib-0.2.0-py3-none-any.whl (28 kB)
Requirement already satisfied: seaborn>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from klib) (0.11.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from klib) (1.4.1)
Requirement already satisfied: scikit-learn>=0.23 in /usr/local/lib/python3.7/dist-packages (from klib) (1.0.1)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.7/dist-packages (from klib) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from klib) (1.19.5)
Requirement already satisfied: matplotlib>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from klib) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->klib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->klib) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->klib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.3->klib) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1->klib) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.3->klib) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23->klib) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23->klib) (3.0.0)
Installing collected packages: klib
Successfully installed klib-0.2.0

In [21]:
import klib

In [22]:
klib.cat_plot(df_train) # returns a visualization of the number and frequency of categorical features

GridSpec(6, 5)

In [23]:
klib.corr_mat(df_train) # returns a color-encoded correlation matrix

In [24]:
klib.corr_plot(df_train) # returns a color-encoded heatmap, ideal for correlations

In [25]:
klib.dist_plot(df_train) # returns a distribution plot for every numeric feature

In [26]:
klib.missingval_plot(df_train) # returns a figure containing information about missing values

GridSpec(6, 6)

# Data Cleaning using Klib Library

In [27]:
klib.data_cleaning(df_train) # performs datacleaning (drop duplicates & empty rows/cols, adjust dtypes,...)

Shape of cleaned data: (8523, 10)Remaining NAs: 2410

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.46 MB (-70.77%)

      item_weight item_fat_content  ...        outlet_type item_outlet_sales
0        9.300000          Low Fat  ...  Supermarket Type1       3735.137939
1        5.920000          Regular  ...  Supermarket Type2        443.422791
2       17.500000          Low Fat  ...  Supermarket Type1       2097.270020
3       19.200001          Regular  ...      Grocery Store        732.380005
4        8.930000          Low Fat  ...  Supermarket Type1        994.705200
...           ...              ...  ...                ...               ...
8518     6.865000          Low Fat  ...  Supermarket Type1       2778.383301
8519     8.380000          Regular  ...  Supermarket Type1        549.284973
8520    10.600000          Low Fat  ...  Supermarket Type1       1193.113647
8521     7.210000          Regular  ...  Supermarket Type2       1845.597656
8522    14.800000          Low Fat  ...  Supermarket Type1        765.669983

[8523 rows x 10 columns]

In [28]:
klib.clean_column_names(df_train) # cleans and standardizes column names, also called inside data_cleaning()

      item_weight item_fat_content  ...        outlet_type item_outlet_sales
0           9.300          Low Fat  ...  Supermarket Type1         3735.1380
1           5.920          Regular  ...  Supermarket Type2          443.4228
2          17.500          Low Fat  ...  Supermarket Type1         2097.2700
3          19.200          Regular  ...      Grocery Store          732.3800
4           8.930          Low Fat  ...  Supermarket Type1          994.7052
...           ...              ...  ...                ...               ...
8518        6.865          Low Fat  ...  Supermarket Type1         2778.3834
8519        8.380          Regular  ...  Supermarket Type1          549.2850
8520       10.600          Low Fat  ...  Supermarket Type1         1193.1136
8521        7.210          Regular  ...  Supermarket Type2         1845.5976
8522       14.800          Low Fat  ...  Supermarket Type1          765.6700

[8523 rows x 10 columns]

In [29]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   float64
 1   item_fat_content           8523 non-null   object
 2   item_visibility            8523 non-null   float64
 3   item_type                  8523 non-null   object
 4   item_mrp                   8523 non-null   float64
 5   outlet_establishment_year  8523 non-null   int64
 6   outlet_size                6113 non-null   object
 7   outlet_location_type       8523 non-null   object
 8   outlet_type                8523 non-null   object
 9   item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [31]:
df_train=klib.convert_datatypes(df_train) # converts existing to more efficient dtypes, also called inside data_cleaning()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   float32
 1   item_fat_content           8523 non-null   category
 2   item_visibility            8523 non-null   float32
 3   item_type                  8523 non-null   category
 4   item_mrp                   8523 non-null   float32
 5   outlet_establishment_year  8523 non-null   int16
 6   outlet_size                6113 non-null   category
 7   outlet_location_type       8523 non-null   category
 8   outlet_type                8523 non-null   category
 9   item_outlet_sales          8523 non-null   float32
dtypes: category(5), float32(4), int16(1)
memory usage: 192.9 KB

In [32]:
klib.mv_col_handling(df_train)

      item_weight item_fat_content  ...        outlet_type item_outlet_sales
0        9.300000          Low Fat  ...  Supermarket Type1       3735.137939
1        5.920000          Regular  ...  Supermarket Type2        443.422791
2       17.500000          Low Fat  ...  Supermarket Type1       2097.270020
3       19.200001          Regular  ...      Grocery Store        732.380005
4        8.930000          Low Fat  ...  Supermarket Type1        994.705200
...           ...              ...  ...                ...               ...
8518     6.865000          Low Fat  ...  Supermarket Type1       2778.383301
8519     8.380000          Regular  ...  Supermarket Type1        549.284973
8520    10.600000          Low Fat  ...  Supermarket Type1       1193.113647
8521     7.210000          Regular  ...  Supermarket Type2       1845.597656
8522    14.800000          Low Fat  ...  Supermarket Type1        765.669983

[8523 rows x 10 columns]

# Preprocessing Task before Model Building

In [33]:
#Using LabelEncoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [34]:
df_train['item_fat_content']= le.fit_transform(df_train['item_fat_content'])
df_train['item_type']= le.fit_transform(df_train['item_type'])
df_train['outlet_size']= le.fit_transform(df_train['outlet_size'])
df_train['outlet_location_type']= le.fit_transform(df_train['outlet_location_type'])
df_train['outlet_type']= le.fit_transform(df_train['outlet_type'])

In [35]:
df_train

      item_weight  item_fat_content  ...  outlet_type  item_outlet_sales
0        9.300000                 1  ...            1        3735.137939
1        5.920000                 2  ...            2         443.422791
2       17.500000                 1  ...            1        2097.270020
3       19.200001                 2  ...            0         732.380005
4        8.930000                 1  ...            1         994.705200
...           ...               ...  ...          ...                ...
8518     6.865000                 1  ...            1        2778.383301
8519     8.380000                 2  ...            1         549.284973
8520    10.600000                 1  ...            1        1193.113647
8521     7.210000                 2  ...            2        1845.597656
8522    14.800000                 1  ...            1         765.669983

[8523 rows x 10 columns]

In [36]:
#Splitting into two datasets
X=df_train.drop('item_outlet_sales',axis=1)
Y=df_train['item_outlet_sales']

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [38]:
X.describe()

       item_weight  item_fat_content  ...  outlet_location_type  outlet_type
count  8523.000000       8523.000000  ...           8523.000000  8523.000000
mean     12.858088          1.369354  ...              1.112871     1.201220
std       4.226130          0.644810  ...              0.812757     0.796459
min       4.555000          0.000000  ...              0.000000     0.000000
25%       9.310000          1.000000  ...              0.000000     1.000000
50%      12.857645          1.000000  ...              1.000000     1.000000
75%      16.000000          2.000000  ...              2.000000     1.000000
max      21.350000          4.000000  ...              2.000000     3.000000

[8 rows x 9 columns]

In [40]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [41]:
X_train_std= sc.fit_transform(X_train)
X_test_std= sc.transform(X_test)
X_train_std

array([[ 1.52290023, -0.57382672,  0.68469731, ..., -1.7570342 ,
         1.08786619, -0.25964107],
       [-1.239856  , -0.57382672, -0.09514746, ...,  1.28755895,
        -0.13870429, -0.25964107],
       [ 1.54667619,  0.97378032, -0.0083859 , ...,  1.28755895,
        -0.13870429, -0.25964107],
       ...,
       [-0.08197109, -0.57382672, -0.91916229, ...,  0.27269457,
        -1.36527477, -0.25964107],
       [-0.74888436,  0.97378032,  1.21363045, ...,  1.28755895,
        -0.13870429, -0.25964107],
       [ 0.67885675, -0.57382672,  1.83915361, ..., -0.74216982,
         1.08786619,  0.98524841]])

In [42]:
Y_train

3684     163.786804
1935    1607.241211
5142    1510.034424
4978    1784.343994
2299    3558.035156
           ...
599     5502.836914
5695    1436.796387
8006    2167.844727
1361    2700.484863
1547     829.586792
Name: item_outlet_sales, Length: 6818, dtype: float32

In [43]:
Y_test

8179     904.822205
8355    2795.694092
3411    1947.464966
7089     872.863770
6954    2450.144043
           ...
1317    1721.093018
4996     914.809204
531      370.184814
3891    1358.232056
6629    2418.185547
Name: item_outlet_sales, Length: 1705, dtype: float32

In [45]:
#Linear Regression

In [56]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(X_train_std,Y_train)

LinearRegression()

In [57]:
X_test.head()

      item_weight  item_fat_content  ...  outlet_location_type  outlet_type
8179    11.000000                 1  ...                     2            2
8355    18.000000                 1  ...                     2            1
3411     7.720000                 2  ...                     0            1
7089    20.700001                 1  ...                     1            1
6954     7.550000                 1  ...                     1            1

[5 rows x 9 columns]

In [58]:
Y_pred_lr=lr.predict(X_test_std)

In [59]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error



print(r2_score(Y_test,Y_pred_lr))
print(mean_absolute_error(Y_test,Y_pred_lr))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_lr)))

0.49385917196231166
888.7954324829678
1174.4864247890416

In [61]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor(n_estimators=1000)

In [62]:
rf.fit(X_train_std,Y_train)

RandomForestRegressor(n_estimators=1000)

In [63]:
Y_pred_rf= rf.predict(X_test_std)

In [64]:
print(r2_score(Y_test,Y_pred_rf))
print(mean_absolute_error(Y_test,Y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_rf)))

0.5486185051781814
781.3677669339513
1109.1344402438838

In [65]:


from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

# define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth=range(1,31)
min_samples_leaf=np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)

# define grid search
grid = dict(n_estimators=n_estimators)

#cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, 
                           scoring='r2',error_score=0,verbose=2,cv=2)

grid_search_forest.fit(X_train_std, Y_train)

# summarize results
print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 3 candidates, totalling 6 fits
Best: 0.551 using {'n_estimators': 1000}
0.505 (0.011) with: {'n_estimators': 10}
0.550 (0.005) with: {'n_estimators': 100}
0.551 (0.006) with: {'n_estimators': 1000}

In [66]:
grid_search_forest.best_score_

0.5510240369644972

In [67]:
Y_pred_rf_grid=grid_search_forest.predict(X_test_std)

In [68]:
r2_score(Y_test,Y_pred_rf_grid)

0.547512589818323